
<h2>Rental List</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Movie</th>
            <th>Rented Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
}
